body{
    background-size: cover;
}

a, h3 {
    font-family: 'Josefin Sans', sans-serif;
    width: 200px;
    border-radius: 10px;
    background-color: lightgray;
    color: lightslategrey;
    font-size: 20px;
}

.heading {
    width: 100%;
    margin-top: 0;
    font-size: 60px;
    background-color: #5a3d2b;
    color: #EDEAE2;
    padding-bottom: 10px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

#copyright{
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    background-color: #545c66;
    line-height: 3;
    text-align: center;
}

canvas {
    animation-name: example;
    animation-duration: 4s;

    animation-iteration-count: infinite;
    border-radius: 20px;
    margin-top: 200px;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(102, 148, 209);}
    to {box-shadow: 1px 1px 38px rgb(182, 74, 74);}
}